
@{
    ViewBag.Title = "All Collection Sites";
}

<center><h2>All Collection Sites in Bombali District grouped by Wards</h2></center>
<div style="padding-left:10%" ;>
    <div class="table-responsive">
        <table class="table" style="border:2px solid grey;">
            <thead>
                <tr style="border:2px solid grey;">
                    <th scope="col">Site Name</th>
                    <th scope="col">Site Manager</th>
                    <th scope="col">Collection Schedule</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <thead>
                <tr style="border:2px solid grey;">
                    <th scope="col" colspan="4">Ward 1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Lama Site
                    </td>
                    <td>
                        Mohammad Alie
                    </td>
                    <td>
                        Tuesdays between 10AM – 11AM <br />and Saturdays between 1PM to 2PM
                    </td>
                    <td>
                        This site is named after the street<br /> in which it is located.
                    </td>
                </tr>
                <tr>
                    <td>
                        Dunia Site
                    </td>
                    <td>
                        Sheka Kamara
                    </td>
                    <td>
                        Wednesdays between 10AM – 11AM <br />and Thursdays between 1PM to 2PM
                    </td>
                    <td>
                        This site is named after the Dunia Cinema hall<br /> closed to the Makeni City Market.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <thead>
                <tr style="border:2px solid grey;">
                    <th scope="col" colspan="4">Ward 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Lama Site
                    </td>
                    <td>
                        Mohammad Alie
                    </td>
                    <td>
                        Tuesdays between 10AM – 11AM <br />and Saturdays between 1PM to 2PM
                    </td>
                    <td>
                        This site is named after the street<br /> in which it is located.
                    </td>
                </tr>
                <tr>
                    <td>
                        Dunia Site
                    </td>
                    <td>
                        Sheka Kamara
                    </td>
                    <td>
                        Wednesdays between 10AM – 11AM <br />and Thursdays between 1PM to 2PM
                    </td>
                    <td>
                        This site is named after the Dunia Cinema hall<br /> closed to the Makeni City Market.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

