@using WasteMangement.Models
@model WasteMangement.Models.RegisterViewModel
@{
    wwmDbEntities db = new wwmDbEntities();
    var district = Session["district"];
    var groups = (from g in db.wards
                  where g.isDeleted == 0
                  select g).ToList();
    if (district == null)
    {
        groups = (from g in db.wards
                  where g.isDeleted == 0
                  select g).ToList();
    }
    else
    {
        groups = (from g in db.wards
                  join c in db.constituencies on g.constituenciesId equals c.constituenciesId
                  join d in db.districts on c.districtsId equals d.districtsId
                  where g.isDeleted == 0 && c.isDeleted == 0 
                  && d.name == district
                  select g).ToList();
    }
    ViewBag.Title = "Collection Sites";
};
@if (district == null)
{
    <center><h3>Wards in All Districts</h3></center>
}
else
{
    <center><h3>Wards in @district District</h3></center>
}


<div style="padding-left:10%;">
    <p style="font-size:large;">
        Click a ward in Bombali District to know view all the collection sites of that ward.
         Click the link “<a href="@Url.Action("AllCollectionSites","Home",new { district = district})">All Collection Sites</a>” to view all collection sites of a District.
    </p>
    <div style="border:1px solid black;">
        <div class="row" style="margin-top:20px;">
            @foreach (var item in groups)
            {
                <div class="col-md-4" style="text-align:center;">
                    <a href="@Url.Action("CollectionSiteWard", "Home",new { wardNumber = item.wardId})"><div class="badge" style="text-align:center;">@item.name</div></a>
                </div>
            }
          @* <a href="@Url.Action("CollectionSiteWard", "Home",new { wardNumber = 1 })"><div class="badge" style="text-align:center;">Ward 1</div></a>*@

        </div>
    </div>
</div>

