@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-left:10%;">
    <center><h2>Web Based Solid Waste Management System for Sierra Leone</h2></center>
    <center><img src="~/Content/images/Sierra_Leone.png" class="img img-responsive" ></center>
</div>
<div>
    <center><h4>Designed and developed by Kisimi Kayleemasa Kamara</h4></center>
</div>