
@{
    ViewBag.Title = "Public Waste Bins";
}
<center><h2>Public Waste Bins in Bombali District grouped by Wards</h2></center>
<div style="padding-left:10%" ;>
    <div class="table-responsive">
        <table class="table" style="border:2px solid grey;">
            <thead>
                <tr >
                    <th scope="col">Site Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Collection Schedule</th>
                    <th scope="col">Staff</th>
                </tr>
            </thead>
            <thead>
                <tr style="border:2px solid grey;">
                    <th scope="col" colspan="4">Ward 1</th>
                </tr>
            </thead>
                <tr>
                    <td>
                        Field Road Bin 1
                    </td>
                    <td>
                        Field Road
                    </td>
                    <td>
                        Tuesdays between 10AM – 11AM <br />and Saturdays between 1PM to 2PM
                    </td>
                    <td rowspan="3">
                        Richie Dumbuya. <br />Mobile: 0023278976322
                    </td>
                </tr>
                <tr>
                    <td>
                        Field Road Bin 1
                    </td>
                    <td>
                        Field Road
                    </td>
                    <td>
                        Wednesdays between 10AM – 11AM <br />and Thursdays between 1PM to 2PM
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            <thead>
                <tr style="border:2px solid grey;">
                    <th scope="col" colspan="4">Ward 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Tallen St. Bin 1
                    </td>
                    <td>
                        Tallen St.
                    </td>
                    <td>
                        Mondays between 10AM to 11AM.
                    </td>
                    <td>
                        Mr. X. <br />Mobile: 0023278999322
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


