
@{
    ViewBag.Title = "Trash is Money";
}

<center><h2>Trash Is Money</h2></center>
<div class="jumbotron" style="padding-left:10%;">
    <div class="body-content" style="border:1px solid black;">
        <p style="text-align:justify;">
        Trash is money. This is the way to make money out of trash.
         Info to come later. Trash can effectively address the youth unemployment in Sierra Leone.</p>
        <div>
            <center><img src="~/Content/images/youthGroup.jpg" class="img img-responsive" /></center>
        </div>
    </div>
</div>

