@{
    ViewBag.Title = "View Youth Groups";
}
<center><h2>WASTE MANAGEMENT YOUTH GROUPS IN BOMBALI DISTRICT</h2></center>
<div class="jumbotron" style="padding-left:10%;">
    <div class="body-content" style="border:1px solid black;">
        <div class="row">
            
            <div class="col-md-4" style="margin-bottom:20px;">
                <div>
                    <img src="~/Content/images/eYouthGroup.jpg" class="img img-thumbnail img-responsive" />
                </div>
                <div style="border:1px solid black;">
                    <p><a href="#">eWomen Waste Management</a></p>
                </div>
            </div>

            <div class="col-md-4" style="margin-bottom:20px;">
                <div>
                    <img src="~/Content/images/eYouthGroup.jpg" class="img img-thumbnail img-responsive" />
                </div>
                <div style="border:1px solid black;">
                    <p><a href="#">Unique Ladies</a></p>
                </div>
            </div>
            
            <div class="col-md-4" style="margin-bottom:20px;">
                <div>
                    <img src="~/Content/images/eYouthGroup.jpg" class="img img-thumbnail img-responsive" />
                </div>
                <div style="border:1px solid black;">
                    <p><a href="#">Betteh Women</a></p>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom:20px;">
                <div>
                    <img src="~/Content/images/eYouthGroup.jpg" class="img img-thumbnail img-responsive" />
                </div>
                <div style="border:1px solid black;">
                    <p><a href="#">eWomen Waste Management</a></p>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom:20px;">
                <div>
                    <img src="~/Content/images/eYouthGroup.jpg" class="img img-thumbnail img-responsive" />
                </div>
                <div style="border:1px solid black;">
                    <p><a href="#">eWomen Waste Management</a></p>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom:20px;">
                <div>
                    <img src="~/Content/images/eYouthGroup.jpg" class="img img-thumbnail img-responsive" />
                </div>
                <div style="border:1px solid black;">
                    <p><a href="#">eWomen Waste Management</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


